<h1>Simple Air Flight Search</h1>

<form class="example-form" [formGroup]='usersForm'>

  <div class="form-group">
    <div class="input-group">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <mat-form-field floatLabel="never" id="departureAirport">
              <input matInput placeholder="Type Departure" [matAutocomplete]="autoDeparture" formControlName='departure'>
              <mat-autocomplete #autoDeparture="matAutocomplete" [displayWith]="displayDeparture" (optionSelected)='onDepartureSelected($event.option.value)'>
                <div id="optionDiv">
                  <mat-option *ngFor="let airport of airportsDeparture" [value]="airport">
                    <span>{{ airport.name }}</span>
                    <small> ({{airport.code}})</small>
                  </mat-option>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-3">
            <mat-form-field floatLabel="never" id="destinationAirport">
              <input matInput placeholder="Type Destination" [matAutocomplete]="autoDestination" formControlName='destination'>
            </mat-form-field>

            <mat-autocomplete #autoDestination="matAutocomplete" [displayWith]="displayDestination" (optionSelected)='onDestinationSelected($event.option.value)'>

              <mat-option *ngFor="let airport of airportsDestination" [value]="airport">
                <span>{{ airport.name }}</span>
                <small> ({{airport.code}})</small>
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <mat-form-field floatLabel="never" id='startDateToggle'>
              <input matInput [matDatepicker]="startDatepicker" placeholder="Departure Date" formControlName='startDate' [(ngModel)]="startDateValue">
              <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3><button type="button" class="btn btn-primary" (click)="submit()">Search Flights</button></h3>
</form>
<br />
<table class='table table-striped' *ngIf="fligths">
  <thead>
    <tr>
      <th>Departure</th>
      <th>Destination</th>
      <th>Fare</th>
      <th>Flight Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of fligths">
      <td>{{ flight.departureAirportName }}-{{flight.departureCode}}</td>
      <td>{{ flight.destinationAirportName }}-{{flight.destinationCode}}</td>
      <td>{{flight.fare}} {{flight.currency}}</td>
      <td> {{flight.date | date:'dd-MM-yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
